.wrapper {
  background: rgb(175, 175, 175);
  background-image: url("https://sciencesummative.files.wordpress.com/2013/01/earth-from-space.jpeg");
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}
